.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 40px;
}

h1{}
p{
    color: #535151;
    font-size: 17px;
}
h3{
    font-size: 21px;
    font-weight: 600;
}
.span-color{
    color: #FFA500;
    font-weight: 600;
}
.button{
    text-decoration: none;
    background-color: #F78868;
    padding: 10px 23px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    padding-top: 40px;
    background-position: right;
    padding-top: 80px;
}
.my-bg{
    width: 100%;
}

